#!/bin/sh
export scenario="scenario.1"
export role="role.1"


ls /chain.seeded -la

echo "hc init $HOSTNAME"
hc init $HOSTNAME
echo

echo "hc join /.holochain/devchain"
hc join /chain.seeded/devchain devchain
echo
echo "hc test devchain $scenario $role"
hc test devchain $scenario $role
echo

